.Header{
    display: flex; 
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid whitesmoke;
    padding-bottom: 5px;
    padding-top:10px;
    background: linear-gradient(
    135deg
    ,#ffa402 1%,#fe5eab 100%);
}

.right{
    padding: 5px;
    margin: 0 15px;
    cursor: pointer;
}