.header{
    height: 60px;
    border-bottom: 2px solid whitesmoke;
    display: flex;
    justify-content: space-between;
    align-content: center;
    background-color: rgb(149, 141, 141);
    position: sticky;
    top: 0;   
    z-index: 999;
    width: 100%;
}

.header_left{
    align-self: center;
    padding-left: 20px;
}

.header_right{
    align-self: center;
    padding-right: 5px;
}
.header_right > ul{
    display: flex;
    flex-direction: row;
    height: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
}

.header_small_menu{
    display: none;
}

@media only screen and (min-width:320px) and (max-width:480px){
    .header{
        background-color: red;
        
    }
    
    .header_right{
        display: none;
    }

    .header_small_menu{
        display: block;
    }
}